.form {
  display: flex;
  flex-flow: column wrap;
  width: min(85%, 400px);
  height: 630px;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  margin-right: calc(auto + -20px);
  background-color: #fff;
  border-radius: 15px;
  padding: 0;
  transform: translateY(-120%);
  transition: all 0.4s;
  overflow-x: hidden;
}

.modal {
  visibility: hidden;
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.4s;
}

.close {
  margin: 10px;
  padding-right: 20px;
  cursor: pointer;
  font-size: 30px;
  font-weight: 800;
  color: rgb(58, 55, 55);
  float: right;
}

.close:hover, .close:focus {
  color: #000;
}

.form>h1 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #FFB400;
  color: gray;
  text-align: center;
  padding-top: 25px;
  height: 55px;
  font-size: 40px;
  width: 100%;
}

label {
  width: 250px;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  flex-direction: column;
}

.form input {
  border-radius: 15px;
  border: none;
  outline: none;
  height: 30px;
  margin-top: 10px;
  border: 1px solid gray;
}

.form input:focus {
  border: 2px solid rgba(0, 0, 255, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.514);
}

input {
  padding-left: 5px;
  font-size: 20px;
}

.but {
  margin-top: 20px;
  margin-bottom: 100px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
}

.signBut {
  margin-bottom: 120px;
  display: inline-block;
}

@media (max-width: 430px) {
  .form {
    height: 530px;
    margin: 30px;
  }
  label {
    margin-top: 10px;
  }
}

@media (max-width: 322px) {
  .form {
    height: 480px;
  }
}