.form {
  display: flex;
  flex-flow: column wrap;
  width: min(85%, 350px);
  min-height: 530px;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 15px;
  padding: 0;
  transform: translateY(-120%);
  transition: all 0.4s;
}

.modal {
  visibility: hidden;
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  margin: 10px;
  padding-right: 20px;
  cursor: pointer;
  font-size: 30px;
  font-weight: 800;
  color: rgb(58, 55, 55);
  position: fixed;
  top: 10px;
  right: 10px;
}

.close:hover,
.close:focus {
  color: #000;
}

.form > h1 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #ffb400;
  color: gray;
  text-align: center;
  padding-top: 30px;
  margin: -22px 0 20px;
  height: 55px;
  font-size: 40px;
  width: 100%;
}

label {
  font-size: 18px;
}

.form input {
  border-radius: 11px;
  border: 1px solid gray;
  outline: none;
  margin-top: 10px;
}

.form input:focus {
  border: 2px solid rgba(0, 0, 255, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.514);
}

.but {
  margin-bottom: 50px;
  line-height: 1.5;
  border: none;
  outline: none;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 430px) {
  .form {
    height: 500px;
    margin: 30px;
  }

  .but {
    line-height: unset;
    font-size: 1.3em;
  }

  label {
    margin-top: 10px;
  }

  input {
    font-size: 15px;
  }
}
